<h1>User Login</h1>

<%= form_tag sessions_path do %>
  <%= label_tag :email, "email: " %>
  <%= email_field_tag :email, params[:email] %>
  <br>
  <%= label_tag :password, "password: " %>
  <%= password_field_tag :password, params[:password] %>
  <br>
  <%= submit_tag "login" %>
<% end %>