<h3><%= @recipe.name %></h3>

<h4>Submitted By: <%= @recipe.user.username %></h4>
<h4>Difficulty Level: <%= @recipe.difficulty %></h4>
<h4>Prep Time: <%= @recipe.prep_time %></h4>

<h4>Ingredients:</h4>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<h4>Directions:</h4>
<p><%= @recipe.directions %></p>

<% if current_user&.id == @recipe.user_id %>
  <%= render '/shared/form' %>
<% end %>

