<li class="<%= category.name.downcase %>"><%= recipe.name %><br>
Difficulty rating: <%= recipe.difficulty %><br>
Preparation Time: <%= recipe.prep_time %> minutes<br>
Difficulty rating: <%= recipe.difficulty %><br>
Directions: <%= recipe.directions %></li>