<%= form_for @recipe do |form| %>
  <input type="hidden" name="recipe[category_id]" value="#{@recipe.category_id}">

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description  %>
  </p>

  <p>
    <%= form.label :difficulty %><br>
    <%= form.text_field :difficulty %>
  </p>

  <p>
    <%= form.label :prep_time %><br>
    <%= form.text_field :prep_time %>
  </p>

  <p>
    <%= form.label :directions %><br>
    <%= form.text_area :directions %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %><br>
  </p>

    <%= form.submit "Create a recipe!" %>

<% end %>


