<div class="container">
  <div class="row">
    <div id="content" class="col-xs-9">
      <header><h1><%= @category.name %></h1></header>
      <section>
        <ul>
          <% @recipes.each do |recipe| %>
          <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
          submitted by: <a href="/users/<%= recipe.user.id %>"><%= recipe.user.username %></a>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>