<div class="container">
  <div class="row">
    <div id="content" class="col-xs-9">
      <h1><%= @category.name %>s</h1>
      <ul>
        <% @recipes.each do |recipe| %>
          <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a><br>
          submitted by: 
          <% if current_user.id == recipe.user_id %>
            <a href="/users/<%= recipe.user.id %>"><%= recipe.user.username %></a>
          <% else %>
            <%= recipe.user.username %>
          <% end %><br>
          <% if current_user.id == recipe.user_id %><%= link_to "Edit this recipe", edit_category_recipe_path(@category, recipe)  %><% end %>

        </li><br>
        <% end %>
      </ul>

      Create a new <%= @category.name %> <%= link_to "recipe", new_category_recipe_path(@category)  %>    

    </div>
  </div>
</div>