<% if current_user %>
  <nav class="fixed-navbar">
    <%= current_user.username %>
    <%= link_to "home", root_path, :class => 'nav-bar' %>
    <%= link_to "logout", session_path(current_user), :class => 'nav-bar', method: :delete %>
  </nav>
<% else  %>
  <nav class="fixed-navbar">
    <%= link_to "login", new_session_path, :class => 'nav-bar' %>
    <%= link_to "register", new_user_path, :class => 'nav-bar' %>
    <%= link_to "home", root_path, :class => 'nav-bar' %>
  </nav>
<% end %>
<!--
   <a href="contact.html">Contact</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="about.html">About</a>
        <a href="index.html">Home</a>
      </nav> -->