<!DOCTYPE html>
<html>
  <head>
    <title>RecipeManager</title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
  </head>

  <body>
    <nav>
    <%= render partial: 'layouts/navbar' %>
    </nav>

    <%= render partial: 'layouts/errors' %>
    <%= yield %>
  </body>
</html>
